input {
	
	file {

		path => ["C:/Users/joshia2/Desktop/vmlog.log"]
		start_position => "beginning"
	}

}


filter {
	

	csv {

	separator => ","

	columns => ["Date","Time","hostVMname", "hostVMip", "hostVMstate"] 

	}

}


output {
	
elasticsearch {
	
	hosts => "localhost"
    # "elastic" is the user name of Elasticsearch's account
	#user => "elastic"
    # "changeme" is the password of Elasticsearch's "elastic" user
    #password => "dna"
}

stdout 
{}

}
